/**
 * 上書き可能性のある変数を設定
 */
.a-chat-wrapper {
  /** Theme values **/
  --a-chat--theme--spacer-base: 16px;
  --a-chat--theme--font-size-base: calc(var(--a-chat--theme--spacer-base) * 0.9);
  --a-chat--theme--color-primary: #2950d0;
  --a-chat--theme--color-primary-darken: #1e3a8c;
  --a-chat--theme--color-primary-lighten: #3a6ed0;
  --a-chat--theme--color-white: #ffffff;

  /** grayscales **/
  --a-chat--theme--color-gray-25: #FCFCFD;
  --a-chat--theme--color-gray-50: #F9FAFB;
  --a-chat--theme--color-gray-100: #F2F4F7;
  --a-chat--theme--color-gray-200: #E4E7EC;
  --a-chat--theme--color-gray-300: #D0D5DD;
  --a-chat--theme--color-gray-400: #889ab3;
  --a-chat--theme--color-gray-500: #606a84;
  --a-chat--theme--color-gray-600: #434f68;
  --a-chat--theme--color-gray-700: #313c56;
  --a-chat--theme--color-gray-800: #1b263c;
  --a-chat--theme--color-gray-900: #0f162c;

  /** Thread style の設定値 **/
  --a-chat-threads--background: var(--a-chat--theme--color-gray-100);
  --a-chat-threads--background-header: var(--a-chat--theme--color-white);
  --a-chat-threads--background-main: var(--a-chat-threads--background);
  --a-chat-threads--background-footer: var(--a-chat--theme--color-white);
  --a-chat-threads--overlay-background: rgba(0, 0, 0, 0.5);
  --a-chat-threads--width: 400px;
  --a-chat-threads--z-index: 4000;
  --a-chat-threads--padding-y: calc(var(--a-chat--theme--spacer-base) * 0.4);
  --a-chat-threads--padding-x: calc(var(--a-chat--theme--spacer-base) * .6);
  --a-chat-threads--border: 1px solid var(--a-chat--theme--color-gray-200);
  --a-chat-threads--border-radius: 6px;
  --a-chat-threads--popover-spacer: 12px;
  --a-chat-threads--fullscreen-width-spacer: 3px;
  --a-chat-threads--fullscreen-max-width: 980px;



  /** Icon の設定値 **/
  --a-chat-init-display--chat-icon--size: 32px;
  --a-chat-init-display--chat-icon--padding-size: calc(var(--a-chat-init-display--chat-icon--size) / 2.3);
  --a-chat-init-display--chat-icon--fixed-posision-margin: 8px;
  --a-chat-init-display--chat-icon--background: var(--a-chat--theme--color-primary);
  --a-chat-init-display--chat-icon--border-color: var(--a-chat--theme--color-primary-lighten);
  --a-chat-init-display--chat-icon--border-width: 2px;
  --a-chat-init-display--chat-icon--hover-background: var(--a-chat--theme--color-primary-darken);
  --a-chat-init-display--chat-icon--fill-color: white;

  /** Message Item の設定値 **/
  --a-chat-message-item-content-body-text--font-size: 13.5px;
  --a-chat-message-item-content-body-text--line-height: 1.55em;
  --a-chat-message-item-content-body-text--letter-spacing: 0.01em;
  --a-chat-message-item-content-body-text--font-weight: 400;
  --a-chat-message-item-content-body-text--background: white;
  --a-chat-message-item-content-body-text--color: var(--a-chat--theme--color-gray-700);
  --a-chat-message-item-content-body-text--padding: 8px 12px;
  --a-chat-message-item-content-body-text--border-radius: 12px;
  --a-chat-message-item-content-body-text--border: 1px solid var(--a-chat--theme--color-gray-200);
  --a-chat-message-item-content-body-text--sent-from-me--background: var(--a-chat--theme--color-primary);
  --a-chat-message-item-content-body-text--sent-from-me--color: white;
  --a-chat-message-item-content-body-text--sent-from-me--border: 1px solid var(--a-chat--theme--color-primary-lighten);
  --a-chat-message-item-content-body-text--emotion-image-size: 48px;
  --a-chat-message-item-content-body-text--emotion-image-top: -6px;
  --a-chat-message-item-content-body-text--emotion-image-left: -8px;
  --a-chat-message-item-content-body-text--emotion-image-size--on-mobile: 32px;


  /** Form style の設定値 **/
  --a-chat-form--submit-button--background: var(--a-chat--theme--color-primary);

  /** Sidebar style の設定値 **/
  --a-chat-sidebar--max-width: 380px;
  --a-chat-sidebar--background: var(--a-chat--theme--color-gray-50);
}
