.a-chat-thread-message-item-user-name-display {
  @apply flex flex-row items-baseline gap-1 flex-wrap flex-grow;
  &--display-user-name {
    @apply text-sm font-bold text-gray-700;
  }
  &--created-at {
    @apply text-xs text-gray-500;
  }
  &--usage-info { //, &--open-message-detail-link
    display: none;
  }
  &:hover {
    .a-chat-thread-message-item-user-name-display--usage-info {
      display: block;
    }
    .a-chat-thread-message-item-user-name-display--open-message-detail-link {
        display: block;
    }
  }
}
