/**
 * AChatThreadsContainer
 */
.a-chat-threads-container {
  max-width: 100%;
  background: var(--a-chat-threads--background);
  border: var(--a-chat-threads--border);
  border-radius: var(--a-chat-threads--border-radius);
  //position: fixed;
  z-index: var(--a-chat-threads--z-index);
  bottom: 0;
  //width: var(--a-chat-threads--width); // TODO
  //max-height: calc(100vh - (var(--a-chat-threads--popover-spacer) * 6));
  //height: 100%;
  .a-chat-threads-container--inner {
    //overflow: scroll;
    //width: 100%;
    height: var(--a-chat-threads--height);
    max-height: calc(100vh - (var(--a-chat-threads--popover-spacer) * 6));
    @apply flex flex-col;
    .a-chat-threads-container--header {
      background-color: var(--a-chat-threads--background-header);
      border-radius: var(--a-chat-threads--border-radius) var(--a-chat-threads--border-radius) 0 0;
      //border-bottom: 1px solid var(--a-chat-threads--border-color);
      @apply drop-shadow-md z-50 shadow-blue-500;
    }
    .a-chat-threads-container--main {
      @apply flex-grow overflow-y-scroll;
    }
    .a-chat-threads-container--footer {
      background: var(--a-chat-threads--background-footer);
      border-radius: 0 0 var(--a-chat-threads--border-radius) var(--a-chat-threads--border-radius);
      @apply drop-shadow-md z-50 shadow-blue-500;
    }
  }
}

/**
 * Fixed layout になる パターン
 * 'popover' | 'modal' | 'full-screen' | 'sidebar-right' | 'sidebar-left'
 */
.a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="popover"], .a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="modal"], .a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="full-screen"], .a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="sidebar-right"], .a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="sidebar-left"] {
  .a-chat-threads-container {
    position: fixed;
    @apply drop-shadow-xl z-50 shadow-blue-500;
    z-index: var(--a-chat-threads--z-index);
    //bottom: 0;
    width: var(--a-chat-threads--width); // TODO
    max-height: calc(100vh - (var(--a-chat-threads--popover-spacer) * 6));
    top: 0; //var(--a-chat-threads--popover-spacer);
    right: 0; //var(--a-chat-threads--popover-spacer);
  }
  &.a-chat-wrapper[data-ui-layout-config--chatthreadwindowdisplaytype="popover"] {
    .a-chat-threads-container {
      top: var(--a-chat-threads--popover-spacer);
      right: var(--a-chat-threads--popover-spacer);
    }
  }
  @media (max-width: 600px) {
    .a-chat-threads-container {
      width: calc(100vw - (var(--a-chat-threads--fullscreen-width-spacer) * 2));
      right: var(--a-chat-threads--fullscreen-width-spacer);
      left: var(--a-chat-threads--fullscreen-width-spacer);
    }
  }
}


.a-chat-wrapper[data-a-chat-ui-state-fullscreen="true"] {
  .a-chat-threads-container--overlay {
    position: fixed;
    z-index: calc(var(--a-chat-threads--z-index) - 10);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--a-chat-threads--overlay-background);
  }
  .a-chat-threads-container {
    position: fixed;
    z-index: var(--a-chat-threads--z-index);
    top: calc(var(--a-chat-threads--popover-spacer) / 2);
    bottom: calc(var(--a-chat-threads--popover-spacer) / 2);
    max-height: calc(100vh - (var(--a-chat-threads--popover-spacer)));
    width: calc(100vw - (var(--a-chat-threads--popover-spacer) * 2));
    max-width: var(--a-chat-threads--fullscreen-max-width);
    margin: 0 auto;
    right: var(--a-chat-threads--popover-spacer);
    left: var(--a-chat-threads--popover-spacer);
    // Mobile の場合は 横幅を 100% にする
    //@media (max-width: 767px) {
    //  width: calc(100vw - (var(--a-chat-threads--fullscreen-width-spacer) * 2));
    //  right: var(--a-chat-threads--fullscreen-width-spacer);
    //  left: var(--a-chat-threads--fullscreen-width-spacer);
    //}
  }
}
