.a-chat-thread-new-message-loading-display--user-sent-message--item {
  @apply shadow shadow-blue-100;
  @apply mr-0 ml-4;
  font-size: var(--a-chat-message-item-content-display--font-size);
  line-height: var(--a-chat-message-item-content-display--line-height);
  letter-spacing: var(--a-chat-message-item-content-display--letter-spacing);
  font-weight: var(--a-chat-message-item-content-display--font-weight);
  //background: var(--a-chat-message-item-content-display--background);
  //color: var(--a-chat-message-item-content-display--color);
  padding: var(--a-chat-message-item-content-display--padding);
  border-radius: var(--a-chat-message-item-content-display--border-radius);
  //border: var(--a-chat-message-item-content-display--border);
  //border-top-left-radius: 0;
  background: var(--a-chat-message-item-content-display--sent-from-me--background);
  color: var(--a-chat-message-item-content-display--sent-from-me--color);
  border: var(--a-chat-message-item-content-display--sent-from-me--border);
  //border-top-left-radius: var(--a-chat-message-item-content-display--border-radius);
  border-top-right-radius: 0;
}
