.a-chat-sidebar {
  .a-chat-sidebar--overlay {
    position: fixed;
    z-index: calc(var(--a-chat-threads--z-index) + 90);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--a-chat-threads--overlay-background);
  }
  .a-chat-sidebar--container {
    // animation, slide from left
    animation: a-chat-sidebar--slide-from-left .2s ease-in-out;
    @keyframes a-chat-sidebar--slide-from-left {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    position: fixed;
    z-index: calc(var(--a-chat-threads--z-index) + 100);
    bottom: 0;
    max-height: 100vh;
    height: 100vh;
    max-width: var(--a-chat-sidebar--max-width);
    width: 100vw;
    background: var(--a-chat-sidebar--background);
    .a-chat-sidebar--inner {
      height: 100%;
      overflow-y: auto;
      .a-chat-sidebar--inner-header {
        position: relative;
        .a-chat-sidebar--inner-header--close {
          position: absolute;
          top: 0;
          right: 0;
          padding: .5em;
          cursor: pointer;
          font-size: 18px;
          opacity: .5;
          &:hover {
            opacity: 1;
          }
          .a-chat-sidebar--inner-header--close-icon {
            fill: var(--a-chat-sidebar--close-icon-color);
          }
        }
      }
      .a-chat-sidebar--inner-body {
        padding: 0;
      }
      .a-chat-sidebar--inner-footer {
      }
    }
  }
  &.a-chat-sidebar--position-right {
    .a-chat-sidebar--container {
      right: 0;
    }
  }
  &.a-chat-sidebar--position-left {
    .a-chat-sidebar--container {
      left: 0;
    }
  }

}

