.a-chat-thread-message-item-content-body-text .a-chat-thread-message-item-content-body-text--section, .a-chat-thread-message-loading-assistant-message-placeholder--message-body {
  margin: var(--a-chat-threads--padding-y) var(--a-chat-threads--padding-x) calc(var(--a-chat-threads--padding-y) * 1.3);
  @apply shadow shadow-blue-100;
  font-size: var(--a-chat-message-item-content-body-text--font-size);
  line-height: var(--a-chat-message-item-content-body-text--line-height);
  letter-spacing: var(--a-chat-message-item-content-body-text--letter-spacing);
  font-weight: var(--a-chat-message-item-content-body-text--font-weight);
  background: var(--a-chat-message-item-content-body-text--background);
  color: var(--a-chat-message-item-content-body-text--color);
  padding: var(--a-chat-message-item-content-body-text--padding);
  border-radius: var(--a-chat-message-item-content-body-text--border-radius);
  border: var(--a-chat-message-item-content-body-text--border);
  border-top-left-radius: 0;
  position: relative;

  p, ul, ol, dl, blockquote, pre {
    @apply mb-1;
  }
  pre {
    // scroll
    @apply overflow-x-auto;
    max-width: 100%;
    @apply bg-cyan-950 text-white p-2 rounded;
    font-size: 90%;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold mt-2 mb-1;
    font-size: 1.2em;
  }

  // ul, ol の style を設定
  ul, ol {
    @apply list-disc ml-4;
  }
  // blockquote の style を設定
  blockquote {
    @apply border-l-4 border-gray-300 pl-2;
  }
  // Emoticon
  img.a-chat-thread-message-item-content-body-text--section--emotion-image {
    position: absolute;
    top: var(--a-chat-message-item-content-body-text--emotion-image-top);
    left: var(--a-chat-message-item-content-body-text--emotion-image-left);
    width: var(--a-chat-message-item-content-body-text--emotion-image-size);
    height: var(--a-chat-message-item-content-body-text--emotion-image-size);
    object-fit: cover;
    object-position: center center;
    @apply rounded-full;
  }
  /**
   * アイコン表示時の spacer
   */
  .a-chat-thread-message-item-content-body-text--section--emotion-image--after-spacer {
    display: inline-block;
    width: var(--a-chat-message-item-content-body-text--emotion-image-size);
    margin-right: calc(var(--a-chat-message-item-content-body-text--emotion-image-left) * 2);
    height: var(--a-chat-message-item-content-body-text--emotion-image-size);
    margin-bottom: calc(var(--a-chat-message-item-content-body-text--emotion-image-top) * 2);
    float: left;
  }
}

.a-chat-thread-message-loading-assistant-message-placeholder--message-body {
  @apply mt-1;
}

/**
 * 自分から送信したメッセージの Style を設定
 */
[data-a-chat-thread-message-item--is-my-mesage="true"] {
  .a-chat-thread-message-item-content-body-text .a-chat-thread-message-item-content-body-text--section {
    //--a-chat-message-item-content-body-text--sent-from-me--background: var(--a-chat--theme--color-primary);
    //--a-chat-message-item-content-body-text--sent-from-me--color: white;
    //--a-chat-message-item-content-body-text--sent-from-me--border: 1px solid var(--a-chat--theme--color-primary-lighten);
    background: var(--a-chat-message-item-content-body-text--sent-from-me--background);
    color: var(--a-chat-message-item-content-body-text--sent-from-me--color);
    border: var(--a-chat-message-item-content-body-text--sent-from-me--border);
    border-top-left-radius: var(--a-chat-message-item-content-body-text--border-radius);
    border-top-right-radius: 0;
    text-indent: 0;
    margin-top: 0;
    img.a-chat-thread-message-item-content-body-text--section--emotion-image, .a-chat-thread-message-item-content-body-text--section--emotion-image--after-spacer {
      display: none;
    }
  }
}


